
{% extends "layout.html" %}
{% block title %}首页{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
  /* .important { color: #336699; } */
</style>
{% endblock %}


{% block content %}

<div class="main  main-index ">
      <div class="ctn">
          <div class="cover cover-tinker">
              <div class="clear"></div>
              <div class="mask"></div>
                            <h1>Android 热更新服务平台</h1>
              <a class="btn btn-large btn-primary btn-main-intro" href="/Docs/intro">平台介绍</a>
          </div>
          <div class="intros">
              <a href="/Docs/start" class="intro intro1-tinker">
                实时更新线上App版本，随时修复线上bug。            </a>
              <a href="/Docs/security" class="intro intro2-tinker">
                CDN分发，补丁应用成功率高。            </a>
              <a href="/Docs/SDK" class="intro intro3-tinker">
                高性能，体积极小化。            </a>
              <div class="clear"></div>
          </div>
  
          <div class="intros2">
                        <h3 style="padding-top:160px">广泛应用</h3>
              <span>覆盖6亿用户，稳定可靠</span>        </div>
  
          <div class="ft" style="display:block;height:90px">
            <span class="copyright">
                          TinkerPatch.com             © 2017
            </span>
            <span class="links">
                            <a href="https://github.com/tinkerPatch">Github开源</a> | <a href="/Docs/contract">用户协议</a> | <a href="mailto:admin@tinkerpatch.com">联系我们</a></span>        </div>
  
      </div>
</div>

{% endblock %}
